/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets
--------------------------------------------------------------------*/
div.flexslider ul				{ margin: 0; padding: 0; list-style: none; }
div.flexslider ul ul			{ margin: 0; padding: 0; list-style: none; }
div.flexslider ul li			{ margin: 0; padding: 0; list-style: none; background: none; }
div.flexslider ul li li			{ margin: 0; padding: 0; list-style: none; background: none; }

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  			{ outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav				{ margin: 0; padding: 0; list-style: none; }

/* FlexSlider Necessary Styles
--------------------------------------------------------------------*/
.flexslider 					{ margin: 0; padding: 0;}
.flexslider .slides > li		{ display: none; -webkit-backface-visibility: hidden; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img			{ width: 100%; display: block; }
.flex-pauseplay span			{ text-transform: capitalize; }

/* Clearfix for the .slides element
--------------------------------------------------------------------*/
.slides:after					{ content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .slides				{ display: block; }
* html .slides 					{ height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }

/* FlexSlider Default Styles
--------------------------------------------------------------------*/
.flexslider 					{ margin: 0 0 60px; background: #fff; position: relative; zoom: 1;}
.flex-viewport 					{ max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport 		{ max-height: 300px; }
.flexslider .slides 			{ zoom: 1; }

.carousel li 					{ margin-right: 5px; }

/* Control Nav
--------------------------------------------------------------------*/
.flex-control-nav 						{ width: 100%; text-align: center; position: absolute; bottom: 10px; left: 0; z-index: 9999; }
.flex-control-nav li 					{ margin: 0 2px; display: inline-block; zoom: 1; *display: inline; }
.flex-control-paging li a 				{ width: 15px; height: 15px; display: block; background: url(images/nav_controls.png) no-repeat; cursor: pointer; text-indent: -9999px; }
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active 	{ background-position: 0 -15px; }.flex-control-nav 						{ width: 100%; text-align: center; position: absolute; bottom: 10px; left: 0; z-index: 9999; }


.flex-control-thumbs 					{ margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li 				{ width: 25%; float: left; margin: 0;}
.flex-control-thumbs img 				{ width: 100%; display: block; opacity: .6; cursor: pointer;}
.flex-control-thumbs img:hover 			{ opacity: 1;}
.flex-control-thumbs .flex-active		{ opacity: 1; cursor: default;}



/* Maatwerk styles
--------------------------------------------------------------------*/
.flexslider								{ margin: 0 0 20px 0; border-radius: 5px; overflow: hidden; }
.flexslider .slides img					{ border-radius: 0px; }

.flexslider .slides > li				{ position: relative; }
.flexslider .slides > li .flex-box		{ position: absolute; left: 36px; top: 36px; padding: 62px 20px 20px; width: 30%; border-radius: 0px; background-color: #f6f6f6; }
.flexslider .slides > li .flex-box		{ position: absolute; left: 36px; top: 36px; padding: 20px 20px 20px; width: 30%; border-radius: 0px; background-color: #f6f6f6; }
.flexslider .slides > li .flex-step		{ position: absolute; left: 15px; top: 20px; display: block; line-height: 33px; background: url(/media/img/header/bg_flex-step.png) no-repeat 0 0; }
.flexslider .slides > li .flex-step		{ margin: -10px 0 0 -25px; padding: 10px 20px 0 25px; color: #FFF; font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif; font-size: 2em; }
.flexslider .slides > li .h1			{ margin: 0; padding: 0 0 10px 0; color: #555; text-align: center; font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif; font-size: 2em; line-height: 120%; }
.flexslider .slides > li p				{ margin: 0; padding: 0; text-align: center; }

/*
 flex-direction-nav
---------------------------------------------------------------------*/
.flex-direction-nav {position: absolute;bottom: 15px;right: 10px;z-index: 300}
.flex-direction-nav .flex-prev { display: none;}
.flex-direction-nav li { width: 14px;height: 14px;}
.flex-direction-nav li a {

    width: 100%;height: 100%;display: block;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

